
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light f  p-3 mb-5 shadow-sm rounded">
    <a class="navbar-brand" href="#"><img src="assets/images/android-icon-72x72.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav d">
        <a [routerLink]="['/homePage']" fragment="about" class="a">
          אודות
        </a>
        <a [routerLink]="['/homePage']" class="a">
          שאלות_ותשובות
        </a>
        <a [routerLink]="['/homePage']" class="a">
          פרוייקטים
        </a>
        <a [routerLink]="['/homePage']"   class="a">
          בית
        </a>
        <button class="button button1" [routerLink]="['/login']" >התחברות</button>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
