<div>
  <div class="w3-light-grey w3-padding-large w3-padding-32 " style="margin: 10%; margin-top:2%;" id="contact">
    <form style="text-align: right;">
      <div class="form-group" style="text-align:center;font-size:50px;">
        <h1 style="font-size:3vw;text-align: center; ">✨טופס הוספת פרויקט✨</h1>
        <h1 style="font-size:2vw;text-align: center; ">
          המידע שתשתף כאן יפורסם בפומבי באתר האינטרנט שלנו כדי לעזור לך למצוא התאמות
        </h1>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">?שם איש קשר🦸‍♂️</label>
        <small id="emailHelp" class="form-text text-muted">שמך יופיע רק אם מילאת את טופס הרשמה האישי של פרויקט צד
        </small>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          הוספה +
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title f" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="custom-select f" inputGroupSelect01 style="padding-left: 50%;">
                  <option selected class="f">בחר</option>
                  <option value="1">אפרת</option>
                  <option value="2">אביגיל</option>
                  <option value="3">אביעד</option>
                  <option value="3">מיכל</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">שם פרויקט✨</label>
        <small id="emailHelp" class="form-text text-muted">תן לפרויקט כותרת 2-3 מילים</small>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="שם פרויקט">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">תימצות רעיון הפיתוח📣</label>
        <small id="emailHelp" class="form-text text-muted">תאר תמציתית מה הרעיון של הפרויקט שלך</small>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="רעיון הפרויקט שלך">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          ?על איזה סוג פרויקט אתה עובד🔨</label>
        <small id="emailHelp" class="form-text text-muted">
          אם אפשרות רלוונטית אינה מופיעה ברשימה, שמור עליה ריקה</small>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
          בחר +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title f" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="custom-select f" inputGroupSelect01 style="padding-left: 50%;">
                  <option selected class="f">בחר</option>
                  <option value="1">אפרת</option>
                  <option value="2">אביגיל</option>
                  <option value="3">אביעד</option>
                  <option value="3">מיכל</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          שלב🚀</label>
        <small id="emailHelp" class="form-text text-muted">
          אם אפשרות רלוונטית אינה מופיעה ברשימה, שמור עליה ריקה</small>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            שיווק מוצר
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            תכנון
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            פיתוח
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            ירושלים
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          ?אתה צריך עזרה💪</label>
        <small id="emailHelp" class="form-text text-muted">
          בבקשה הגבילו את בחירתכם לשלושה אנשי מקצוע</small>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          בחר +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title f" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="custom-select f" inputGroupSelect01 style="padding-left: 50%;">
                  <option selected class="f">בחר</option>
                  <option value="1">אפרת</option>
                  <option value="2">אביגיל</option>
                  <option value="3">אביעד</option>
                  <option value="3">מיכל</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">?איך הם יוכלו לעזור💖</label>
        <small id="emailHelp" class="form-text text-muted">אנא ספק תיאור קצר היכן אתה נמצא ומה אתה זקוק לעזרה בכדי להשיג
          זאת בהמשך. זה יוצג בפני אנשים שמעוניינים להצטרף לפרויקט שלך.

          (אתר / חנות אפליקציות, github, תיקיות ענן וכו)אל תהסס להזכיר קישורים למוצרים קיימים, אבות טיפוס, מאגרי קוד או
          חומרי עיצוב </small>
        <div class="form-group f">
          <textarea class="form-control f" id="exampleFormControlTextarea1" placeholder="כתוב פה" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          ?מי ישתמש בפרויקט זה🙏</label>
        <small id="emailHelp" class="form-text text-muted">
          ?האם זה לשימוש חברתי, מסחרי או פרטי</small>
        <select class="custom-select f" inputGroupSelect01 style="padding-left:93%;">
          <option selected class="f">בחר</option>
          <option value="1">אפרת</option>
          <option value="2">אביגיל</option>
          <option value="3">אביעד</option>
          <option value="4">מיכל</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          ?איפה תעבדו על זה🏡</label>
        <small id="emailHelp" class="form-text text-muted">
          ?האם זה לשימוש חברתי, מסחרי או פרטי</small>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            ירושלים
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            ירושלים
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            ירושלים
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
        <div class="form-check">
          <label class="form-check-label g" for="exampleRadios1">
            ירושלים
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          הוסף תמונה🎎</label>
        <small id="emailHelp" class="form-text text-muted">
          משהו מקצועי כדי למשוך את העין.זה יכול להיות צילום מסך של מוצר, לוגו, איור או מלאי</small>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04">
          <label class="custom-file-label" for="inputGroupFile04"></label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="width: 100%;">שליחה</button>
    </form>
  </div>
</div>