<div>
  <div class="w3-light-grey w3-padding-large w3-padding-32 " style="margin: 10%; margin-top:2%;" id="contact">
    <form style="text-align: right;">
      <div class="form-group" style="text-align:center;font-size:50px;">
        <h1 style="font-size:3vw;text-align: center; ">✨טופס רישום✨</h1>
        <h1 style="font-size:2vw;text-align: center; ">
          ספר לנו קצת על עצמך, כדי שנוכל לעזור לך להתאים אנשים ופרויקטים
        </h1>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">שם מלא👋</label>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="השם שלך">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">עיר🏡</label>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="העיר שלך">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          בחר סניף👩‍💻</label>
        <small id="emailHelp" class="form-text text-muted">
          לאילו סניפים תרצה להצטרף? בחר מבין המיקומים הזמינים כרגע</small>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
          בחר +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title f" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="custom-select f" inputGroupSelect01 style="padding-left: 50%;">
                  <option selected class="f">בחר</option>
                  <option value="1">אפרת</option>
                  <option value="2">אביגיל</option>
                  <option value="3">אביעד</option>
                  <option value="3">מיכל</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">?מה תקווה להשיג🎯</label>
        <small id="emailHelp" class="form-text text-muted">
          מה המטרות שלך בהצטרפות למועדון פרויקטים צדדי? בחר את כל המתאימים (אם יש לך מטרה אחרת אנא כתוב זאת ב"אודותיך
          "למטה)</small>
        <div class="form-group row">
          <div class="col-sm-10" style="margin-left:17%;">
            <div class="form-check">
              <label class="form-check-label g" for="gridCheck1">
                מביא פרויקט
              </label>
              <input class="form-check-input" style="margin-right: 0%;" type="checkbox" id="gridCheck1">
            </div>
          </div>
          <div class="col-sm-10" style="margin-left:17%;">
            <div class="form-check">
              <label class="form-check-label g" for="gridCheck1">
                מביא פרויקט
              </label>
              <input class="form-check-input" style="margin-right: 0%;" type="checkbox" id="gridCheck1">
            </div>
          </div>
          <div class="col-sm-10" style="margin-left:17%;">
            <div class="form-check">
              <label class="form-check-label g" for="gridCheck1">
                מביא פרויקט
              </label>
              <input class="form-check-input" style="margin-right: 0%;" type="checkbox" id="gridCheck1">
            </div>
          </div>
          <div class="col-sm-10" style="margin-left:17%;">
            <div class="form-check">
              <label class="form-check-label g" for="gridCheck1">
                מביא פרויקט
              </label>
              <input class="form-check-input" style="margin-right: 0%;" type="checkbox" id="gridCheck1">
            </div>
          </div>
          <div class="col-sm-10" style="margin-left:17%;">
            <div class="form-check">
              <label class="form-check-label g" for="gridCheck1">
                מביא פרויקט
              </label>
              <input class="form-check-input" style="margin-right: 0%;" type="checkbox" id="gridCheck1">
            </div>
          </div>
          <div class="col-sm-10" style="margin-left:17%;">
            <div class="form-check">
              <label class="form-check-label g" for="gridCheck1">
                מביא פרויקט
              </label>
              <input class="form-check-input" style="margin-right: 0%;" type="checkbox" id="gridCheck1">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          ?מה היית רוצה לבנות🔨</label>
        <small id="emailHelp" class="form-text text-muted">
          "אם זה לא ברשימה, בחר "אחר</small>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          בחר +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title f" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="custom-select f" inputGroupSelect01 style="padding-left: 50%;">
                  <option selected class="f">בחר</option>
                  <option value="1">אפרת</option>
                  <option value="2">אביגיל</option>
                  <option value="3">אביעד</option>
                  <option value="3">מיכל</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          ?אילו מיומנויות יש לך💪</label>
        <small id="emailHelp" class="form-text text-muted">
          בחר את 3-10 הכישורים המובילים שלך מהרשימה - בחר רק מיומנויות שתרצה שאנשים יזמינו אותך לפרויקטים</small>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          בחר +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title f" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="custom-select f" inputGroupSelect01 style="padding-left: 50%;">
                  <option selected class="f">בחר</option>
                  <option value="1">אפרת</option>
                  <option value="2">אביגיל</option>
                  <option value="3">אביעד</option>
                  <option value="3">מיכל</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">מיומנויות לא רשומות➕</label>
        <small id="emailHelp" class="form-text text-muted">רשמו אותם כתגיות, כמו בסעיף הקודם (נפרדו בפסיקים) ונוסיף אותם
          לרשימת המיומנויות </small>
        <div class="form-group f">
          <textarea class="form-control f" id="exampleFormControlTextarea1" placeholder="כתוב פה" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">קישור לתיק עבודות/לינקדאין/גיטאהב👨‍🔧</label>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="הוסף קישור">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          חברה🏦</label>
        <small id="emailHelp" class="form-text text-muted">
          אם אתה עצמאי, בחר "פרילנסר" או "בין משרות". אם אתה סטודנט, בחר את בית הספר שלך. אם החברה שלך לא נמצאת ברשימה,
          בחר "אחר" ותענה על השאלה הבאה.
        </small>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          בחר +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title f" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="custom-select f" inputGroupSelect01 style="padding-left: 50%;">
                  <option selected class="f">בחר</option>
                  <option value="1">אפרת</option>
                  <option value="2">אביגיל</option>
                  <option value="3">אביעד</option>
                  <option value="3">מיכל</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">ארגון לא רשום➕</label>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="רשום את שם הארגון או החברה">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">טלפון📞</label>
        <small id="emailHelp" class="form-text text-muted">
          Whatsappאם תרצה שאנשים יפנו אליך באמצעות טקסט או </small>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="הטלפון שלך">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">אמייל📩</label>
        <input type="text" class="form-control f" id="exampleInputPassword1" placeholder="הטלפון שלך">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">ספר לי עצמך💖</label>
        <small id="emailHelp" class="form-text text-muted">רשמו אותם כתגיות, כמו בסעיף הקודם (נפרדו בפסיקים) ונוסיף אותם
          לרשימת המיומנויות </small>
        <div class="form-group f">
          <textarea class="form-control f" id="exampleFormControlTextarea1" placeholder="כתוב פה" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">הודעה📑</label>
        <small id="emailHelp" class="form-text text-muted">רשמו אותם כתגיות, כמו בסעיף הקודם (נפרדו בפסיקים) ונוסיף אותם
          לרשימת המיומנויות </small>
        <div class="form-group f">
          <textarea class="form-control f" id="exampleFormControlTextarea1" placeholder="כתוב פה" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          אני רוצה לקבל הזמנות בדוא"ל כאשר קורס או סדנאות חדשים נפתחים במרחב שלי🎓</label>
        <div class="form-group row">
          <div class="col-sm-10" style="margin-left:17%;">
            <div class="form-check">
              <label class="form-check-label g" for="gridCheck1">
                מביא פרויקט
              </label>
              <input class="form-check-input" style="margin-right: 0%;" type="checkbox" id="gridCheck1">
            </div>
          </div>

        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="width: 100%;">שליחה</button>
    </form>
  </div>
</div>