<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- מלל קצר על האפליקציה -->

<div class="background">
<div class="w3-row" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
  <img src="../../assets/images/multitasking.gif" class="w3-round w3-image w3-opacity-min" alt="Table Setting" style=" width:80%; margin-left: 20%;">
 </div>
 <div class="w3-col m6 w3-padding-large">
   <h1 class="w3-center w3-jumbo w3-text-black w3-hide-small" style="font-size: xx-large;">אודות</h1><br>
   <h5 class="w3-center">
זה המקום שלכם למצוא את הפרוייקט שהכי מתאים לכם להצטרף אליו.
     כאן תוכלו ליצור פרוייקט חדש ולהזמין אחרים להצטרף אליכם. תוכלו להתעדכן בזמן אמת על הפרוייקטים השונים.
     ולתהחבר למנטור ולעסק הנכונים עבורכם.
    </h5>
</div>
</div>
<h1 style="font-size:5vw;text-align: center; "> ?למה כדאי לקחת חלק במיזם</h1>
 <div class="w3-row-padding">
  <section id="about" >
    <div class="w3-container"  style="padding:70px 30px;">
    <div class="w3-third w3-container w3-margin-bottom">
     <div class="w3-container w3-white">
       <p><b class="textStyle">תרומה לקהילה</b></p>
       <p>בסייד פרוג'קט אנחנו יוצרים פרוייקטים עבור הקהילה - עסקים קטנים, עמותות, מזימים של אנשים בירושלים וככה מחברים בין הסטודנטים לעיר</p>
     </div>
     <img src="../../assets/images/hand-shake-business-deal.gif" alt="Norway" style="width:100%" class="w3-hover-opacity">
   </div>
   <div class="w3-third w3-container w3-margin-bottom">
     <div class="w3-container w3-white">
       <p><b class="textStyle">צבירת ניסיון</b></p>
       <p>זה המקום שלכם לצבור ניסיון ולהגדיל את התיק עבודות שלכם. מנטורים שזמינים לשאלות. מינגליג עם אנשים בתעשייה. הרצאות. חברים ופרוייקטים שיקדמו אותכם לשלב הבא.</p>
     </div>
     <img src="../../assets/images/student.gif" alt="Norway" style="width:100%" class="w3-hover-opacity">
    </div>
   <div class="w3-third w3-container">
     <div class="w3-container w3-white">
       <p><b class="textStyle">קהילה</b></p>
       <p>בואו להיות חלק מקהילה מגניבה של אנשים שבאים לעשות פרוייקטים ביחד. לעבוד על מה שהכי בוער בכם. לשבת על פיצות וסושי. ולהנות עם אנשים שבאים לעשות טוב.</p>
     </div>
     <img src="../../assets/images/idea.gif" alt="Norway" style="width:100%" class="w3-hover-opacity">
    </div>
 </div>
  </section>
  <!-- שות -->
  <p style="font-size:2vw;text-align: center;">שאלות ותשובות נפוצות</p>
  <div class="w3-container" style="padding-right:10%;padding-left: 10%;" >
  <div id="Q&A" >
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <!-- <h2 class="mb-0"> -->
           <button class="btn text-center"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           ? איך משתתפים
           <br>
           <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
          </button>
          <!-- </h2> -->
        </div>
      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
פשוט להגיע. להרשם באתר ולעבוד על פרוייקט שאתם רוצים          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ?האם אני יכול ליזום פרוייקט משלי            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
בוודאי! כל אחד יכול לבוא עם פרוייקט משלו וגם לפרסם אותו ולמצוא אנשים שיעזרו ויכווינו במידת הצורך          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
? איך מצטרפים לפרוייקט            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
           תוכלו לראות את הפרוייקטים הפעילים בתפריט פרוייקטים, בנוסף בדף הבית מופיע כל פרוייקט שעובדים עליו עכשיו ברגע זה. מוזמנים לפנות לאנשים שעובדים עליהם ולציע את עזרתכם. הם ישמחו :)
          </div>
        </div>
      </div>
     <!-- <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            ? איך אני מציע נסיעה
            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
          </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            היכנס לאפליקציית טודרייב,
             לחץ על “רוצה לנהוג” במסך הגדרת הנסיעה הזן את כתובת המוצא וכתובת היעד שלך ולחץ על “הגדר נסיעה”.במידה וקיים חיפוש נסיעה התואם לנסיעה שהגדרת, תוכל לראותה בחלק התחתון של המסך.ולהציע שישתתף בנסיעה. 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn text-center" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            ? איך אני מבטל/משנה נסיעה
            <br>
            <img src="https://img.icons8.com/dotty/50/000000/sort-down.png"/>
          </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            היכנס למסך פרטי הנסיעה וערוך את פרטיה בהתאם לצורך. שים לב כי תוכל לבצע שינויים עבור נסיעה ספציפית אחת או עבור כל הנסיעות הקיימות במערכת.
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
 <!-- אודות -->
 <section id="about" >
  <div style="height:400px;width:100%;margin-top: 5%;">
    <div class="card-container" style="float: right; height:400px; margin-left: 0.5%; width:49%;">
      <div class="container">
        <img src="../../assets/images/up.svg" alt="Snow" style="width:100%;">
           <div class="centered">
             <a href="#">יש לי מיזם להציע</a>
            </div>
      </div>
     </div>
     <div class="card-container" style="float: right; height:400px; margin-left: 0.5%; width:49%; margin-top: 7%;">
      <div class="container">
        <img src="../../assets/images/d.svg" alt="Snow" style="width:100%;">
           <div class="centered">
             <a href="#">רוצה להשתתף במיזם</a>
            </div>
      </div>
     </div>
   </div>
 </section>
</div>
<!--ניוזלטר -->
<div class="w3-white w3-margin" style="padding-left: 10%;padding-right: 10%;padding-top:5%;">
  <div class="w3-container w3-padding w3-black">
    <h4 style="text-align: center;">השאר מעודכן</h4>
  </div>
  <div class="w3-container w3-white text-center">
    <!-- <p style="text-align: center;">קבל ממנו עידכונים</p> -->
    <p><input class="w3-input w3-border" type="text" placeholder="😊כתובת המייל שלך" style="width:100%;text-align: center;"></p>
    <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block " style="background-color: rgb(14, 150, 192);" data-toggle="modal" data-target="#myModal">אישור</button></p>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <!-- class="modal-header" -->
        <div >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h2 style="text-align: center;">!נרשמת בהצלחה</h2>
       </div>
      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="modal-title"style="text-align: center;" > מעכשיו תהיה מעודכן בכל מה שחדש</h4>
        <img src="../../assets/images/newsletter1.svg"style="width:100%">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="margin-right: 80%;" data-dismiss="modal">לסגור</button>
      </div>

    </div>
  </div>
</div>
</div>


